<a href="https://colab.research.google.com/github/web1havv/NLP/blob/main/bag_of_words.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tokenization

In [93]:
import nltk
nltk.download()
nltk.download("punkt")
import pandas as pd

NLTK Downloader
---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader>

---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader>

---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader> q

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [104]:
paragraph="""He was admitted to St. Joseph's College, Tiruchirapalli, and later he went on to complete a degree in physics in 1954 and then studied at the Madras Institute of Technology and graduated in aeronautical engineering in 1955. Since his childhood, Dr Abdul Alam wanted to be a pilot but couldn’t make his dream come true. He learned from his mistakes and accomplished numerous achievements in his life. After completing his degree, Abdul Kalam entered the Defense Department of India. He has been one of the key figures in building the nuclear capabilities of India.



APJ Abdul Kalam was appointed to the Indian Ministry of Defense as a Technical Advisor in 1992, after which he served with DRDO and ISRO, the country's largest organization. Considered a national hero for successful nuclear tests in 1998, a second successful nuclear test was conducted in Pokhran the same year under his supervision, after which India was included in the list of nuclear-powered nations. Abdul Kalam has been active in all space programs and development programs in India as a scientist. For developing India's Agni missile, Kalam was called 'Missile Man.'Abdul Kalam made a special technological and scientific contribution, for which, along with Bharat Ratna, India's highest honour, he was awarded the Padma Bhushan, Padam Vibhushan, etc. He was also awarded an honorary doctorate by more than 30 universities in the world for the same.



In 2002, he was elected President of India and was the country's first scientist and non-political president. He visited many countries during his tenure as President and led India's youth through his lectures and encouraged them to move forward.  ‘My vision for India’ was a Famous Speech of APJ Abdul Kalam delivered at IIT Hyderabad in 2011, and is to this day my favourite speech. His far-reaching thinking gave India's growth a fresh path and became the youth's inspiration. Dr Abdul Kalam died on July 27, 2015, from an apparent cardiac arrest while delivering a lecture at IIM Shillong at the age of 83. He spent his entire life in service and inspiration for the nation and the youth, and his death is also while addressing the youth. His death is a never-ending loss to the country."""

In [105]:
sentences=nltk.sent_tokenize(paragraph)

In [118]:
len(sentences)

18

In [106]:
sentences

["He was admitted to St. Joseph's College, Tiruchirapalli, and later he went on to complete a degree in physics in 1954 and then studied at the Madras Institute of Technology and graduated in aeronautical engineering in 1955.",
 'Since his childhood, Dr Abdul Alam wanted to be a pilot but couldn’t make his dream come true.',
 'He learned from his mistakes and accomplished numerous achievements in his life.',
 'After completing his degree, Abdul Kalam entered the Defense Department of India.',
 'He has been one of the key figures in building the nuclear capabilities of India.',
 "APJ Abdul Kalam was appointed to the Indian Ministry of Defense as a Technical Advisor in 1992, after which he served with DRDO and ISRO, the country's largest organization.",
 'Considered a national hero for successful nuclear tests in 1998, a second successful nuclear test was conducted in Pokhran the same year under his supervision, after which India was included in the list of nuclear-powered nations.',
 'Abdul Kalam has been active in all space programs and development programs in India as a scientist.',
 "For developing India's Agni missile, Kalam was called 'Missile Man.",
 "'Abdul Kalam made a special technological and scientific contribution, for which, along with Bharat Ratna, India's highest honour, he was awarded the Padma Bhushan, Padam Vibhushan, etc.",
 'He was also awarded an honorary doctorate by more than 30 universities in the world for the same.',
 "In 2002, he was elected President of India and was the country's first scientist and non-political president.",
 "He visited many countries during his tenure as President and led India's youth through his lectures and encouraged them to move forward.",
 '‘My vision for India’ was a Famous Speech of APJ Abdul Kalam delivered at IIT Hyderabad in 2011, and is to this day my favourite speech.',
 "His far-reaching thinking gave India's growth a fresh path and became the youth's inspiration.",
 'Dr Abdul Kalam died on July 27, 2015, from an apparent cardiac arrest while delivering a lecture at IIM Shillong at the age of 83.',
 'He spent his entire life in service and inspiration for the nation and the youth, and his death is also while addressing the youth.',
 'His death is a never-ending loss to the country.']

In [107]:
##Cleaning
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [108]:
wordnet=WordNetLemmatizer()

In [109]:
corpus=[]

In [110]:
for i in range(len(sentences)):
  review=re.sub('[^a-zA-Z]',' ',sentences[i])
  review=review.lower()
  review=review.split()
  review=[wordnet.lemmatize(word) for word in review if not word in (stopwords.words('english'))]
  review=' '.join(review)
  corpus.append(review)

In [111]:
corpus

['admitted st joseph college tiruchirapalli later went complete degree physic studied madras institute technology graduated aeronautical engineering',
 'since childhood dr abdul alam wanted pilot make dream come true',
 'learned mistake accomplished numerous achievement life',
 'completing degree abdul kalam entered defense department india',
 'one key figure building nuclear capability india',
 'apj abdul kalam appointed indian ministry defense technical advisor served drdo isro country largest organization',
 'considered national hero successful nuclear test second successful nuclear test conducted pokhran year supervision india included list nuclear powered nation',
 'abdul kalam active space program development program india scientist',
 'developing india agni missile kalam called missile man',
 'abdul kalam made special technological scientific contribution along bharat ratna india highest honour awarded padma bhushan padam vibhushan etc',
 'also awarded honorary doctorate university world',
 'elected president india country first scientist non political president',
 'visited many country tenure president led india youth lecture encouraged move forward',
 'vision india famous speech apj abdul kalam delivered iit hyderabad day favourite speech',
 'far reaching thinking gave india growth fresh path became youth inspiration',
 'dr abdul kalam died july apparent cardiac arrest delivering lecture iim shillong age',
 'spent entire life service inspiration nation youth death also addressing youth',
 'death never ending loss country']

In [112]:
#Creating Bag of words
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
x=cv.fit_transform(corpus).toarray()

In [113]:
x

array([[0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 1, 1, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 2],
       [0, 0, 0, ..., 0, 0, 0]])

In [116]:
df=pd.DataFrame(x)

In [117]:
df

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,150
0,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
2,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0